@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

.font-nunito {
  font-family: Nunito;
}

.bg-dark {
  background-color: #252525;
}

.text-color {
  color: #c4c4c4;
}

.invalid-input::placeholder {
  color: red;
}
